*,
html,
body,
#root {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.app{
  background: rgb(18,25,85);
  background: radial-gradient(circle, rgba(18,25,85,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}

