
  .banner {
    color: white;
    object-fit: contain;
    height: 700px;
    background-position: center center;
    background-size: cover;

  }
 
  .banner__contents {
    margin-left: 30px;
    padding-top: 250px;
    height: 190px;
   
  }
  
  .banner__title {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: .3rem;
    padding-left: 1rem; 
  }

  .banner__title-shadow{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.39);
  }
  
  .banner__description {
    width: 40%;
    line-height: 1.3;
    margin-bottom: 30px;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 500;
  }

  .banner__description-shadow{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.81);
  }
  
  .banner__button {
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(252, 240, 45, 0.7);
    padding-bottom: 0.5rem;
    margin-left: 1rem;
  }
  
  .banner__button:hover {
    color: white;
    background-color: rgba(18, 25, 85, 0.7);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  
 